#tbg {
  height: 22%;
  width: 100%;
  background-color: darkred;
  box-shadow: 1px 1px 10px black;
}
#tp {
  height: 250px;
  width: 500px;
  position: absolute;
  visibility: visible;
  left: 36%;
  top: 120px;
  z-index: 0;

  display: inline-block;
}
#pic {
  height: 250px;
  width: 250px;
  box-shadow: 1px 1px 10px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#np {
  float: right;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 250px;
  width: 249px;
  text-align: center;
}
